{
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:flowtype/recommended",
    "prettier"
  ],
  "parser": "babel-eslint",
  "plugins": ["flowtype", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
